body {
    padding-top: 70px;
}

h1,h2,h3,h4,h5,h6,body {
    font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
}

ul.nav li.main {
    font-weight: bold;
}

div.col-md-2 {
    padding-left: 0;
}

div.col-md-10 > ul {
  overflow: hidden;
}

div.source-links {
    float: right;
}


#github-banner { display: none; }

.bs-sidebar {
  display: none;
}

#maxwell-header > h2 {
  margin-top: 0px;
}

#maxwell-daemon-image {
  display: none;
}

.container {
  padding: 0px;
}

.navbar-header {
  padding-left: 15px;
}

.navbar-collapse ul {
  padding-left: 15px;
}

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
    position: static;
}

.bs-sidebar.well {
    padding: 0;
}

/* First level of nav */
.bs-sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top:    10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
    font-weight: bold;
    background-color: transparent;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
    margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 80%;
}

/* replace top-nav with side-nav */
@media (min-width: 992px) {
  .navbar-header {
    padding-left: 0px;
  }

    #maxwell-daemon-image {
      display: inline;
      float: left;
      height: 300px;
      margin-right: 20px;
    }

    .bs-sidebar {
      display: block;
    }

    .navbar-collapse ul {
      display: none;
    }

    .container {
      margin-left: 50px;
    }

    .bs-sidebar .nav > .active > ul {
        display: block;
    }
    /* Widen the fixed sidebar */
    .bs-sidebar.affix,
    .bs-sidebar.affix-bottom {
        width: 263px;
    }
    .bs-sidebar.affix {
        position: fixed; /* Undo the static from mobile first approach */
        top: 65px;
    }
    .bs-sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile first approach */
    }
    .bs-sidebar.affix-bottom .bs-sidenav,
    .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }

    h3 {
      font-size: 120%;
      /* text-decoration: underline; */
      /* font-weight: 400; */
      /* background-color: rgba(0,0,0,0.05); */
      /* color: #008cba; */
      padding: 8px;
      padding-bottom:2px;
      margin-bottom: 0px;
      margin-top: 20px;
      /* border: 0px;
      border-bottom: 1px solid #BBB; */
      width: 80%;
    }

    hr {
      margin-top:-4px;
      margin-bottom: 15px;
      margin-left: 30px;
      margin-right: 0px;
      border-color: #788F96;
      width: 80%;
    }

    pre, table {
      font-size: 12px;
      margin-left: 30px;
      margin-right: 30px;
    }

    code {
      background-color: rgba(0,0,0,0.04);
      color: #333;
    }

    p {
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 5px;
    }
}

@media (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .bs-sidebar.affix-bottom,
    .bs-sidebar.affix {
        width: 190px;
    }
}



.content-title {
  font-size: 150%;
}

h3:before {
  content: "\2192  ";
}

h3:nth-of-type(1) {
  margin-top: 0px;
}

