<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <File name="TestLog" fileName="test.log">
      <PatternLayout pattern="[%T] %d{HH:mm:ss,SSS} %-5level %logger{1} - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="TestLog"/>
    </Root>
   <Logger name="snaq.db.ConnectionPool.MaxwellConnectionPool" level="off" additivity="false">
      <AppenderRef ref="TestLog"/>
    </Logger>
    <Logger name="snaq.db.ConnectionPool.ReplicationConnectionPool" level="off" additivity="false">
      <AppenderRef ref="TestLog"/>
    </Logger>
    <Logger name="snaq.db.ConnectionPool.RawMaxwellConnectionPool" level="off" additivity="false">
      <AppenderRef ref="TestLog"/>
    </Logger>
  </Loggers>
</Configuration>
